.bt-tags {
  padding-left: 0;
  margin: 11px 0;
  list-style: none;
  /*&:extend(.clearfix all);*/
}
.bt-tags li {
  display: inline;
}
.bt-tags li > a,
.bt-tags li > span {
  color: #666;
  display: inline-block;
  padding: 5px 14px;
  background-color: #fff;
  border: 1px solid #666;
  border-radius: 15px;
  margin: 0 5px;
}
.bt-tags li > a:hover,
.bt-tags li > a:focus {
  text-decoration: none;
  color: #0a6ebd;
  border-color: #0a6ebd;
}
.bt-tags .disabled > a,
.bt-tags .disabled > a:hover,
.bt-tags .disabled > a:focus,
.bt-tags .disabled > span {
  color: #bbb;
  background-color: #fff;
  cursor: not-allowed;
}
.bt-tags-label {
  margin-top: 11px;
  color: #666;
  font-weight: bold;
}
[dir="rtl"] .bt-tags {
  padding-right: 0;
  padding-left: initial;
}
[dir="rtl"] .bt-tags .next > a,
[dir="rtl"] .bt-tags .next > span {
  float: left;
}
[dir="rtl"] .bt-tags .previous > a,
[dir="rtl"] .bt-tags .previous > span {
  float: right;
}
