.node--type-varbase-blog .author-info {
  color: #bbb;
}
.node--type-varbase-blog .author-info .field--name-node-author {
  border-right: 1px solid #ddd;
}
[dir="rtl"] .node--type-varbase-blog .author-info .field--name-node-author {
  border-right: 0;
  border-left: 1px solid #ddd;
}
.menu--blog-menu.nav li a {
  font-size: 20px;
  border-bottom: solid 2px transparent;
  color: #666;
}
.menu--blog-menu.nav li a:hover,
.menu--blog-menu.nav li a:focus,
.menu--blog-menu.nav li a.is-active {
  border-bottom: solid 2px #2196F3;
  text-decoration: none;
  background: transparent;
}
